/* Section about */

.about {
  overflow: hidden;
  .page-inner {
    .container {
      max-width: 1200px;
      margin: auto;
    }

    .quote {
      background: $grey-color;
      .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        h3 {
          font-size: 2.5rem;
          // color: $light-color;
          padding: 3rem;
          // left: 150px;
          font-style: italic;
          margin: auto;
          font-weight: 400;
          text-align: center;
        }
        .photo {
          width: 70%;
          margin: auto;
          z-index: 0;
        }
      }
    }
    .content {
      background: #fffefe no-repeat center center/cover;
      .cards {
        margin: auto;
        margin-bottom: 3rem;
        z-index: 1;
        height: 100%;
        width: 100%;

        .card {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          align-items: center;
          margin-bottom: 10rem;
          > div {
            // background: $light-color;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              width: 70%;
              height: 100%;
              margin: auto;
            }
          }
          .text {
            h2 {
              text-align: left;
              color: $secondary-color;
            }
            background: rgb(255, 254, 254);
            padding: 20px;
            display: flex;
            flex-direction: column;
            text-align: left;
          }
        }
        :last-child {
          margin-bottom: 0 !important;
        }
      }
    }
    .cta {
      padding: 7rem 0 5rem 0;
      text-align: center;
      background: $grey-color;
      h4 {
        margin-bottom: 10px;
        font-weight: 400;
      }
    }
  }
}
