// * about page *//

.about-page {
  .hero {
    margin: 0 auto;
  }
  .fullpage {
    padding-bottom: 0;
  }
}

.quote {
  background: $primary-color;
  color: white;
  .container div {
    margin: 0;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 400;
    text-align: left;
  }
}

.about-page .cards {
  @extend %full;
  .card {
    @extend %grid;
    margin-bottom: 10rem;
    .draw {
      @extend %flex;
      .icon {
        width: 70%;
        height: 100%;
        margin: auto;
      }
    }
    .text {
      h2 {
        text-align: left;
        color: $secondary-color;
      }
      background: rgb(255, 254, 254);
      padding: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}

.about-page .cta {
  padding: 5rem 0;
  text-align: center;
  background: $grey-color;
  h4 {
    margin-bottom: 10px;
    font-weight: 400;
  }
}

// * experience cta
.hero-section#experience {
  padding: 3rem 0;
  // .page-sections {
  //   overflow-x: initial;
  // }
}

.before-title {
  background: $primary-color;
  text-align: center;
  padding: 3rem 0 2rem 0;
  color: white;
}
