.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #fff;
  border-radius: 20px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  background-image: $gradient;
  background-size: 200% auto;
  transition: 1s ease;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
  transform: scale(1.1) !important;
}

// * scrollTop

#scroll-top-btn {
  display: inline-block;
  background-color: $primary-color;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2vh;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  &:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 5rem;
    color: $light-color;
    transition: all 0.6;
  }
  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    &:after {
      color: $secondary-color;
    }
  }
  &:active {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

// * scroll down

.scroll-down-btn {
  position: relative;
  margin: auto;
  width: 34px;
  height: 34px;
  border-left: 4px solid $secondary-color;
  border-bottom: 4px solid $secondary-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

// * multiple down arrows button

.arrows-btn {
  opacity: 0;
  margin-top: 3rem;
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  p {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(white, 1);
  }
  #scroll-down-btn {
    div {
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb07 2s infinite;
        animation: sdb07 2s infinite;
        opacity: 0;
        box-sizing: border-box;
        border-left: 2px solid rgba(white, 1);
        border-bottom: 2px solid rgba(white, 1);
        &:nth-of-type(1) {
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }
        &:nth-of-type(2) {
          top: 16px;
          -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
        }
        &:nth-of-type(3) {
          top: 32px;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
        @-webkit-keyframes sdb07 {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes sdb07 {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}

.arrows-btn.mobile {
  display: none;
}
