/* Footer */

footer {
  background: $main-gradient;
  display: grid;
  @extend %center;
  height: 10vh;
  padding-left: 8rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: $light-color;
  span {
    font-weight: 600;
    transition: 0.5s ease;
  }
}
.logos {
  display: flex;
  @extend %center;
  .fa {
    font-size: 3rem;
    margin-left: 20px;
    transition: 0.5s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
