.hero-section {
  position: relative;
  // min-height: 90vh;
  width: 100%;
  margin: auto;
  display: flex;
  .scroll-down-btn {
    margin: 0;
  }
}

.fullpage {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 2rem;
  width: 80%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  align-items: center;
  position: relative;
}

.hero {
  display: flex;
  @extend %center;
  width: 90%;
  position: relative;
  margin: 25% auto;
  overflow: hidden;
  z-index: 0;
  // transition: all 1s ease;
  // transition: none;
  transform: translateX(100vw);
  img {
    @extend %full;
    transition: transform 0.3s ease-out;
    object-fit: cover;
  }
}

.details {
  transform: translateX(-100vw);
  opacity: 0;
  width: 100%;
  z-index: 1;
  margin: auto;
  .hide {
    overflow: hidden;
    .text {
      display: inline-block;
      transition: transform 0.5s ease;
      // transform: translateY(100%);
    }
  }
  .showcase-btn {
    width: 20%;
  }
  h1 .text {
    font-size: 4rem;
    color: $light-blue;
  }
  h2 .text {
    font-size: 3rem;
    color: $light-color;
  }
  h3 {
    color: white;
  }
  h4 .text {
    padding: 20px 0;
    color: $light-color;
  }
}

.svg-container {
  display: flex;
  position: absolute;
  opacity: 0.1;
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  svg {
    width: 105% !important;
    height: 100% !important;
    margin-left: auto !important;
    transition: all 0.5s ease;
    transform-origin: bottom right;

    circle {
      transition: all 0.5s ease;
    }
  }
}
