.home-page {
  color: $primary-color;
  background: $grey-color;
  overflow-y: hidden;
  #home-sections {
    width: 90%;
    margin: auto;
    // margin-left: 5%;

    #showcase {
      margin-bottom: 10vh;
      height: 90vh;
      width: 100%;
      margin: auto;
      position: relative;
      .svg {
        height: 60%;
        margin: 2rem auto;
        opacity: 0;
        transform: translateY(-100vh);
      }
      .svg-container {
        z-index: -1;
        opacity: 0.8;
      }
      .headers-container {
        position: absolute;
        top: 28%;
        left: 45%;
        transform: translate(-45%, -30%);
        height: 60%;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .headers {
          opacity: 0;
          transform: translateY(100vh);
          width: 100%;
          margin: 2rem 0;

          .title {
            padding: 1rem 0;
            color: $primary-color;
          }
          .subtitle {
            color: $secondary-color;
            font-style: italic;
            font-weight: 500;
            padding: 0 0 2rem;
            font-size: 2.5rem;
          }
        }
      }

      .fp-tableCell {
        height: auto !important;
      }
      .btn {
        padding: 1rem 2rem;
        position: absolute;
        bottom: 12vh;
        right: -4%;
        // border-radius: 10%;
      }
    }
  }
  .hero-section {
    .svg-container {
      opacity: 0.6;
    }
    .fullpage {
      margin-left: 5%;
      .details {
        h1 .text {
          color: $primary-color;
        }
        h2 .text {
          color: $secondary-color;
        }
        h4 .text {
          display: none;
          color: $primary-color;
        }
      }
    }

    &#work,
    &#about,
    &#contact {
      .fullpage .details h4 .text {
        display: block;
      }
    }
    &#about .hero {
      margin-bottom: 10vh;
      img {
        width: 115%;
      }
    }
  }
  .arrows-btn {
    opacity: 0;
    margin-top: 3rem;
    position: absolute;
    bottom: 22vh;
    left: 0;
    right: 0;
    text-align: center;
    p {
      color: black;
      font-size: 1.8rem;
      font-weight: 500;
      color: $primary-color;
      // writing-mode: tb-rl;
      // -webkit-transform: rotate(180deg);
      // margin-top: -50px;
    }
    #scroll-down-btn {
      div {
        // padding-top: 20px;
        position: relative;
        span {
          position: absolute;
          top: 0;
          left: 50%;
          width: 24px;
          height: 24px;
          margin-left: -12px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-animation: sdb07 2s infinite;
          animation: sdb07 2s infinite;
          opacity: 0;
          box-sizing: border-box;
          border-left: 2px solid $primary-color;
          border-bottom: 2px solid $primary-color;
          &:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }
          &:nth-of-type(2) {
            top: 16px;
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
          }
          &:nth-of-type(3) {
            top: 32px;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
          }
          p {
            color: black;
            font-size: 2rem;
            font-weight: bold;
          }
          @-webkit-keyframes sdb07 {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes sdb07 {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .arrows-btn.mobile {
    display: none;
  }
}
#fp-nav {
  left: 0;
  margin-top: 0 !important;
  z-index: 20;
  &.fp-right {
    right: unset;
  }
  ul li {
    width: 40px !important;
    height: 40px !important;

    a span {
      background: $primary-color;
      opacity: 0.5;
      width: 20px !important;
      height: 20px !important;
    }
    a.active span {
      opacity: 1;
      width: 22px;
      height: 22px;
      margin: -2px 0 0 -2px;
    }
    &:hover span {
      width: 22px;
      height: 22px;
      transform: scale(1.5);
      opacity: 1;
    }
  }
}

@keyframes dot {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}
