.home-page {
  color: $primary-color;
  // background: $grey-color;
  background: $grey-color;
  // background: radial-gradient(#2b3760, #0b1023);
  overflow-y: hidden;
  // height: 100vh;
  #home-sections {
    width: 95%;
    margin: auto;
    margin-left: 5%;

    #showcase {
      height: 90vh !important;
      width: 90%;
      .fp-tableCell {
        height: auto !important;
      }
    }
    .hero-section {
      .svg-container {
        opacity: 0.6;
      }
      .fullpage .details {
        h1 .text {
          color: $primary-color;
        }
        h2 .text {
          color: $secondary-color;
        }
        h4 .text {
          display: none;
        }
      }
    }
  }
  .arrows-btn {
    align-items: center;
    position: absolute;
    bottom: 5vh;
    left: 2vh;
    // right: 0;
    p {
      color: black;
      font-size: 1.8rem;
      font-weight: bold;
      writing-mode: tb-rl;
      -webkit-transform: rotate(180deg);
      margin-top: -50px;
    }
    #scroll-down-btn {
      div {
        padding-top: 40px;
        span {
          position: absolute;
          top: 0;
          left: 50%;
          width: 24px;
          height: 24px;
          margin-left: -12px;
          border-left: 3px solid black;
          border-bottom: 3px solid black;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-animation: sdb07 2s infinite;
          animation: sdb07 2s infinite;
          opacity: 0;
          box-sizing: border-box;

          &:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }
          &:nth-of-type(2) {
            top: 16px;
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
          }
          &:nth-of-type(3) {
            top: 32px;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
          }
          p {
            color: black;
            font-size: 2rem;
            font-weight: bold;
          }
          @-webkit-keyframes sdb07 {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes sdb07 {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .arrows-btn.mobile {
    display: none;
  }
}
#fp-nav {
  left: 0;
  margin-top: 0 !important;
  z-index: 20;
  &.fp-right {
    right: unset;
  }
  ul li {
    width: 40px !important;
    height: 40px !important;

    a span {
      background: $primary-color;
      opacity: 0.5;
      width: 20px !important;
      height: 20px !important;
    }
    a.active span {
      opacity: 1;
      width: 22px;
      height: 22px;
      margin: -2px 0 0 -2px;
    }
    &:hover span {
      width: 22px;
      height: 22px;
      transform: scale(1.5);
      opacity: 1;
    }
  }
}

@keyframes dot {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}
