/* Mobile */

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  .content {
    padding: 0;
    .photo {
      height: 450px;
      width: 300px;
      right: 0;
    }
  }

  .work-page {
    .clients-projects {
      grid-template-columns: 1fr;
      .project {
        h3,
        .project-type {
          text-align: center;
        }
      }
    }
    .gallery {
      // grid-template-columns: 1fr 5fr;
      .projects .project {
        // grid-template-columns: 1fr;
        .project-text {
          .btn-container {
            display: flex;
            justify-content: center;
            .btn {
              width: 30%;
              margin: 3rem 1rem 0 1rem;
            }
          }
        }
        .project-img {
          order: -1;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .about-page .page-content .quote .container div {
    height: 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 55%;
  }
  h2,
  h1 {
    text-align: center;
  }
  p {
    // font-size: 1.5rem;
  }

  nav {
    .nav-desktop {
      display: none;
    }
    .nav-mobile {
      display: flex;
      h2 {
        text-align: left;
      }
    }
    .logos {
      display: none;
    }
    .languages {
      .en,
      .fr {
        height: 24px;
        width: 24px;
      }
    }
    .nav-open {
      height: 100vh;
      .logos {
        display: flex;
        width: 100%;
        .fa {
          font-size: 5rem;
        }
      }
      ul {
        height: 80%;
        flex-direction: column;
        justify-content: center;
        li {
          width: unset;
          height: unset;
          margin: 2rem;

          &.active,
          &:hover {
            background: none;
            a {
              font-size: 5rem;
            }
          }
          a {
            font-size: 3.5rem;
            padding: 3rem 0;
          }
        }
      }
    }
  }

  #fp-nav ul li {
    margin: 0;
    // width: 30px !important;
    // height: 30px !important;
    a span {
      width: 12px !important;
      height: 12px !important;
    }
  }
  .home-page {
    // .arrows-btn {
    //   display: none;
    // }
    // .arrows-btn.mobile {
    //   display: block;
    //   left: 0;
    //   top: 85%;
    //   right: 0;
    //   #scroll-down-btn div {
    //     span {
    //       position: absolute;
    //       border-left: 3px solid $secondary-color;
    //       border-bottom: 3px solid $secondary-color;
    //     }
    //   }
    // }
    #home-sections {
      // width: 100%;
      // margin-left: 0;
      #showcase {
        // padding: 2rem 4rem;
        .headers-container {
          flex-direction: column;
          justify-content: space-evenly;
          margin: auto;
          padding-bottom: 10vh;
          .headers {
            text-align: center;
            // padding: 2rem 1rem;
            margin-top: 0;
          }
          .hero-img {
            width: 80%;
            margin: 2rem auto;
          }
        }
        .svg-container {
          display: none;
        }
      }
      .hero-section {
        &#showcase svg {
          bottom: 0% !important;
          left: 15% !important;
          // right: 15% !important;
          width: 100% !important;
          height: 58% !important;
          margin: auto;
        }
        &#work svg,
        &#about svg,
        &#experience svg,
        &#contact svg {
          bottom: 10% !important;
          width: 100% !important;
          height: auto !important;
          // opacity: 0.8 !important;
        }

        .fullpage {
          grid-template-columns: 1fr;
          grid-template-rows: 1.2fr 1fr;
          // grid-template-rows: 1fr 1fr;
          grid-gap: 0;
          width: 90%;
          margin: auto;
          padding: 5rem 0;
          .details {
            text-align: center;
            padding: 2rem;
            // margin-bottom: 0;
            h1 .text {
              // font-size: 4rem;
            }
            h2 .text {
              // font-size: 2.5rem;
            }
          }
          .hero {
            margin: 10% 10% auto 10%;
          }
        }
        &#about .fullpage .hero {
          width: 100% !important;
          margin: 0 !important;
          // margin: 0 0 17vh 0 !important;
          img {
            width: 100%;
          }
        }
      }
    }
  }

  .page-sections {
    .hero-section {
      display: block;
      .scroll-down-btn {
        margin: auto;
      }
      .fullpage {
        // height: 90vh;
        grid-template-columns: 1fr !important;
        width: 90%;
        // padding: 2rem 0;

        // grid-gap: 2rem;
        // grid-template-rows: repeat(2, 1fr);
        .hero {
          width: 90% !important;
          height: 90% !important;
          margin: 10% auto !important;
          padding: 2rem;
        }
        .details {
          margin: auto !important;
          padding: 2rem;
          text-align: center;
          .showcase-btn {
            margin-top: 0;
            width: 100%;
            .scroll-down-btn {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    .page-content .page-description .container {
      display: grid;
      grid-template-columns: 1fr;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100px;
        height: auto;
        order: 1;
      }
    }
  }
  .about-page {
    .hero-section .fullpage .hero {
      padding: 0;
      margin: 0 auto !important;
      height: auto !important;
      img {
        width: 75%;
      }
    }
    #experience .fullpage .hero {
      margin: 10% auto !important;
    }
    .page-content {
      .container {
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .photo {
            margin: auto;
            width: 60%;
            order: -1;
          }
        }
      }
    }
  }

  .work-page {
    .page-title {
      position: relative;
      top: 0;
    }
    // padding-left: 8rem;
    .gallery {
      // .sm-header {
      //   position: relative;
      //   top: 0px;
      //   left: 0px;
      //   height: 50px;
      //   line-height: 50px;
      //   padding: 2rem 0 0 0;
      //   text-align: center;
      //   margin-top: 0;
      // }
      // position: relative;
      // display: block;
      // width: 100%;
      // margin: auto;
      // top: 0;
      .projects img {
        height: auto;
        width: 90%;
      }
    }
  }
  .services-page {
    .services {
      .explanations {
        display: block !important;
        .content {
          padding: 2rem 0 !important;
          .content-img img {
            width: 80px !important;
            height: auto !important;
          }
        }
      }

      #website-dev .explanations {
        .content.process .steps .container > div {
          grid-template-columns: 1fr !important;
          padding: 0;
          margin-bottom: 2rem;
          .field {
            grid-column: 1 / 3;
          }
          .text {
            // border-top-right-radius: 10px !important;
          }
          .img-box {
            display: none;
          }
        }
        .content.tools .container div .img-box {
          height: 65px;
        }
      }
      #web-integration .explanations .content > div .content-img img {
        width: 130px !important;
      }
    }
  }
  .contact-page .page-content {
    .page-info h4 {
      width: 100%;
    }
    grid-template-columns: 1fr;
    .img {
      display: none;
    }
    .page-info {
      // text-align: center;
    }
    > div .form-container form {
      // width: 90%;
      .names {
        display: block;
      }
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .container {
    padding: 5rem 0;
    // width: 90%;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.7rem;
  }
  .btn:hover {
    transform: initial;
    background: $secondary-color;
  }
  .cta-section .btn {
    width: 50%;
  }
  .page-sections .page-content {
    padding: 0;
    .page-description .container img {
      display: none;
    }
  }

  #scroll-top-btn {
    bottom: 10vh;
  }

  #fp-nav {
    display: none;
  }

  header nav {
    .languages {
      margin-right: 2rem;
    }
    .logo h2 {
      font-size: 2rem;
    }
  }
  .home-page {
    .svg-container {
      display: none !important;
    }
    #home-sections #showcase {
      .headers-container {
        flex-direction: column;
        text-align: center;
        .headers {
          margin-top: 5vh;
          margin-right: 0;
          h2 {
            font-size: 2rem;
          }
        }
      }
      .hero-img {
        width: 70%;
        margin: auto;
      }
      .btn {
        display: none;
      }
      .svg {
        width: 70%;
      }
    }
  }

  .showcase {
    height: 90vh;
    .container {
      width: 100%;
    }
  }

  .about-page {
    .page-content {
      .quote .container {
        flex-direction: column;
        // padding: 2rem 6rem 6rem;
        h3 {
          padding: 0;
        }
      }
      .content {
        > .container {
          grid-gap: 6rem;
          .cards {
            > .card:nth-child(2) .draw,
            .card:nth-child(4) .draw {
              order: -1;
            }
            .card {
              grid-template-columns: 1fr;
              margin-bottom: 30px;
              .icon {
                padding: 2rem;
              }
              h2 {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .experience-page .page-inner .city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headings {
      position: relative;
      padding: 30px;
      top: 10px;
    }
    .card {
      // position: static;
      right: auto;
      // top: auto;
      width: auto;
      // bottom: 8rem;
      margin: 20px;
      // border-radius: 0;
    }
  }

  .work-page {
    .clients-projects .project {
      .btn-container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        .btn {
          width: 50%;
        }
      }
    }
    .personal-projects-section {
      .sm-header {
        top: 14rem;
      }
      .gallery .projects .project {
        grid-template-columns: 1fr;
        img {
          width: 85%;
        }
        .project-text {
          h3 {
            margin-bottom: 1rem;
            text-align: center;
            font-size: 2rem;
          }
          padding: 1rem;
          p {
            width: 90%;
          }
          .btn-container {
            .btn {
              width: 50%;
              margin: 1rem;
            }
          }
        }
      }
    }
  }

  .services-page {
    .btn {
      width: 60%;
    }
    .header .arrow img {
      height: 60%;
    }
    .service-description-section .service-description {
      grid-template-columns: 1fr;
      img {
        width: 30%;
      }
    }
    .tabs > .container {
      width: 90%;
      .tabs-nav {
        grid-template-columns: 1fr;
        .tab-item {
          width: 100%;
        }
      }
      .tab-content {
        .tab-content-item > img {
          height: 140px;
          margin: 4rem 0;
        }
      }
    }
    .tabs {
      .tabs-nav.desktop,
      .tab-content.desktop {
        display: none;
      }
      .tabs-nav.mobile {
        display: flex;
      }
    }

    .services {
      .explanations {
        display: block !important;
        .content {
          padding: 2rem 0;
          & > div,
          .container,
          .container div {
            grid-template-columns: 1fr !important;
            .text ul p span {
              font-size: 2rem !important;
              margin-right: 0 !important;
            }
          }
          &.intro {
            .container {
              > div img {
                display: none;
              }
            }
          }
          &.tools {
            padding: 0 !important;
            h3 {
              text-align: center;
            }
          }
        }

        .content-img {
          margin-bottom: 2rem;
          justify-content: center !important;
          flex-direction: row !important;
          order: 1 !important;
          img {
            height: 60px !important;
            width: auto !important;
            // margin-bottom: 1rem !important;
          }
        }
        .flex-col {
          height: auto;
          flex-direction: row;
          img {
            height: 50px;
          }
        }
      }
      #website-dev .explanations .content.process .steps .container {
        // padding: 0;
        > div {
          display: block;
          padding: 0;
          margin: 2rem 0;
          .field {
            justify-content: center;
            padding: 2rem;
          }
          .text {
            border-top-right-radius: 0 !important;
          }
          .img-box img {
            display: none;
            // width: 60px;
            // padding: 2rem;
          }
        }
      }
      #website-dev .explanations {
        .content.process .container .content-img {
          display: none;
        }
        .content.tools .container div {
          grid-template-columns: 1fr;
          grid-gap: 1rem;
          margin: 5rem;
          p:before {
            display: none;
          }
          .img-box {
            width: auto;
            height: 90px;
            margin: auto !important;
            order: -1;
          }
        }
      }
      #web-integration .explanations .content > div .content-img img {
        order: 1;
        margin: 2rem 0 3rem 0;
      }
    }
  }

  footer {
    // margin-bottom: 10vh;
    height: 14vh;
    padding: 1rem 0;
    grid-template-columns: 1fr;
    // background: $light-color;
    // color: $secondary-color;
    border: none;
    p {
      margin: 0;
      padding: 2px;
      // font-size: 1.3rem;
    }
    .logos .fa {
      margin: 0;
      font-size: 2.5rem;
      margin: 8px;
    }
  }
}

@media (max-width: 350px) {
  html {
    font-size: 40%;
  }
}

body[data-aos-duration="custom"] [data-aos],
[data-aos][data-aos][data-aos-duration="custom"] {
  transition-duration: 1.5s;

  &.aos-animate {
    transition-duration: 1.5s;

    @media (min-width: 700px) {
      transition-duration: 2.5s;
    }
  }
}
