// * Mobile *//

@media (max-width: 1500px) {
  .clients-projects {
    grid-template-columns: 1fr;
    .project .type {
      text-align: left;
    }
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  .content {
    padding: 0;
    .photo {
      height: 450px;
      width: 300px;
      right: 0;
    }
  }

  // * work page

  .project-img {
    order: -1;
  }
}

@media (max-width: 980px) {
  .quote .container div {
    height: 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 55%;
  }
  h2,
  h1 {
    text-align: center;
  }

  // * nav

  nav {
    .nav-desktop {
      display: none;
    }
    .nav-mobile {
      display: flex;
      h2 {
        text-align: left;
      }
    }
    .languages {
      .en,
      .fr {
        height: 24px;
        width: 24px;
      }
    }
    .nav-open {
      height: 100vh;
      .logos {
        display: flex;
        width: 100%;
        .fa {
          font-size: 5rem;
        }
      }
    }
    .nav-open ul {
      height: 80%;
      flex-direction: column;
      justify-content: center;
      li {
        width: unset;
        height: unset;
        margin: 2rem;
        a {
          font-size: 3.5rem;
          padding: 3rem 0;
          transition: all 0.5s ease;
        }
        &.active,
        &:hover {
          a {
            font-size: 5rem;
          }
        }
      }
    }
  }

  #fp-nav ul li {
    margin: 0;
    a span {
      width: 12px !important;
      height: 12px !important;
    }
  }

  // * home page showcase

  .home-page #showcase {
    .headers-container {
      flex-direction: column;
      justify-content: space-evenly;
      margin: auto;
      padding-bottom: 10vh;
      .headers {
        text-align: center;
      }
    }
    .hero-img {
      margin: 2rem auto;
    }
    svg {
      bottom: 0% !important;
      left: 15% !important;
      width: 100% !important;
      height: 58% !important;
      margin: auto;
    }
  }

  // * hero sections

  .hero-section .svg-container {
    display: none;
  }

  .fullpage {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    width: 90%;
    margin: auto;
    padding: 2rem 0;

    .details {
      text-align: center;
      padding: 2rem;
    }
    .hero {
      margin: auto;
      width: 50%;
    }
  }
  #about .hero img {
    width: 100%;
  }

  // * other pages
  .page-sections {
    .scroll-down-btn {
      margin: auto;
      width: 20px;
      height: 20px;
    }
    .page-description .container {
      grid-template-columns: 1fr;
      img {
        width: 100px;
        height: auto;
        order: 1;
      }
    }
  }

  // * about page

  .about-page .fullpage {
    padding-bottom: 0;
  }
  #experience .fullpage .hero {
    margin: 4rem auto;
  }

  // * work page

  .work-page {
    .page-title {
      position: relative;
      top: 0;
    }
    .projects img {
      // height: auto;
      width: 90%;
    }
  }

  // * services page

  .explanations .content {
    padding: 2rem 0;
  }

  #website-dev {
    .steps {
      .container > div {
        grid-template-columns: 1fr !important;
        padding: 0;
        margin-bottom: 2rem;
      }
      .img-box {
        display: none !important;
      }
    }
    .tools .img-box {
      height: 65px;
    }
  }

  // * contact

  .contact-page {
    h4,
    h2 {
      text-align: left;
    }
    form .names {
      display: block;
    }
    .email {
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .container {
    padding: 5rem 0;
  }
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.7rem;
  }
  .btn:hover {
    transform: initial;
    background: $secondary-color;
  }
  .cta-section .btn {
    width: 50%;
  }
  .page-sections .page-content {
    padding: 0;
    .page-description .container img {
      display: none;
    }
  }

  #scroll-top-btn {
    bottom: 10vh;
  }

  #fp-nav {
    display: none;
  }

  // * nav

  header nav {
    .languages {
      margin-right: 2rem;
    }
    .logo h2 {
      font-size: 2rem;
    }
  }
  // * home page

  .home-page {
    .svg-container {
      display: none !important;
    }
    #showcase .headers {
      margin-right: auto;
    }
    #showcase .hero-img {
      width: 85%;
      margin-top: 0;
    }
    .btn {
      display: none;
    }
  }

  .fullpage .hero {
    width: auto;
  }

  // * about page

  .quote .container div {
    height: 10rem;
    font-size: 2rem;
  }

  .about-page .cards {
    .card {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
      .draw .icon {
        padding: 2rem;
        margin: 0 auto 0 0;
      }
    }
    .card:nth-child(2) .draw,
    .card:nth-child(4) .draw {
      order: -1;
    }
  }

  // * experience page

  .experience-page .page-inner .city {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .headings {
      position: relative;
      padding: 30px;
      top: 10px;
    }
    .card {
      right: auto;
      width: auto;
      margin: 20px;
    }
  }

  // * work page

  .project {
    grid-template-columns: 1fr;
    img {
      width: 85%;
    }
    .text h3,
    .text .type {
      text-align: center;
    }
  }

  .clients-projects .btn {
    width: 50%;
    margin: 2rem auto !important;
  }

  .personal-projects-section {
    .sm-header {
      top: 14rem;
    }
    .project {
      .text {
        padding: 2rem 0;
        h3 {
          margin-bottom: 1rem;
        }
      }
    }
    .btn-container {
      margin: 2rem 0;
      .btn {
        margin: 1rem;
      }
    }
  }

  // * services page

  .services-page {
    .btn {
      width: 60%;
    }
    .header .arrow img {
      height: 60%;
    }
    .service-description {
      grid-template-columns: 1fr;
      img {
        width: 30%;
      }
    }
  }

  .tabs > .container {
    width: 90%;
    .tabs-nav {
      grid-template-columns: 1fr;
      .tab-item {
        width: 100%;
        &:hover {
          transform: none;
        }
      }
    }
    .tab-content {
      .tab-content-item > img {
        height: 140px;
        margin: 4rem 0;
      }
    }
  }
  .tabs {
    .tabs-nav.desktop,
    .tab-content.desktop {
      display: none;
    }
    .tabs-nav.mobile {
      display: flex;
    }
  }

  .services .content {
    & > div,
    .container div {
      grid-template-columns: 1fr !important;
    }
    &.intro img {
      display: none;
    }
  }

  #website-dev .tools {
    padding: 0;
    h3 {
      text-align: center;
    }
    .container div {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      margin: 5rem;
      p:before {
        display: none;
      }
      .img-box {
        width: auto;
        height: 90px;
        margin: auto !important;
        order: -1;
      }
    }
  }

  #web-integration .content-img {
    order: 1;
    margin: 2rem 0 3rem 0;
  }

  #marketing,
  #app-dev {
    .explanations {
      display: block;
    }
  }

  // * footer

  footer {
    height: 14vh;
    padding: 1rem 0;
    grid-template-columns: 1fr;
    border: none;
    p {
      margin: 0;
      padding: 2px;
    }
    .logos .fa {
      margin: 0;
      font-size: 2.5rem;
      margin: 8px;
    }
  }

  // * contact

  .contact-page .page-content {
    grid-template-columns: 1fr;
    img {
      display: none;
    }
  }
}

@media (max-width: 380px) {
  html {
    font-size: 40%;
  }
}

body[data-aos-duration="custom"] [data-aos],
[data-aos][data-aos][data-aos-duration="custom"] {
  transition-duration: 1.5s;

  &.aos-animate {
    transition-duration: 1.5s;

    @media (min-width: 700px) {
      transition-duration: 2.5s;
    }
  }
}
