header {
  position: sticky;
  top: 0;
  z-index: 20;
  background: transparent;
}
.nav-page {
  background: $main-gradient;
  transition: top 0.6s ease-in-out;
  min-height: 16vh;
  .nav-open {
    background: $main-gradient;
  }
}

nav {
  height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  z-index: 2;
  h3 {
    font-size: 2rem;
    color: white;
  }
}

.menu {
  z-index: 30;
  cursor: pointer;
}

.nav-open {
  width: 100%;
  margin: auto;
  height: 50vh;
  // background: rgb(30, 29, 33);
  background-image: linear-gradient(
    109.6deg,
    #e82dbc 11.2%,
    rgb(87, 133, 247) 91.1%
  );

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-200%);
  // border-bottom: 15px solid $secondary-color;
  // margin-top: 10vh;
  ul {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    li {
      a {
        // color: $text-color;
        font-size: 2rem;
        font-weight: 600;
        color: $light-color;
        transition: all 0.5s ease;
      }
      &.active a,
      &:hover a {
        // color: $secondary-color;
        font-size: 3rem;
      }
    }
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // color: $photo-color;
    // display: grid;
    // grid-template-columns: 5% 1fr 1fr 5%;
    // align-items: center;
    // justify-content: center;
  }
}
