header {
  position: sticky;
  top: 0;
  z-index: 30;
  background: $main-gradient;
}

nav {
  height: 10vh;
  width: 80%;
  margin: auto;
  > div {
    @include flex(center, space-between);
    height: 100%;
  }
}

// * main logo

.logo {
  z-index: 2;
  h2 {
    margin-bottom: 0;
    font-size: 2rem;
    color: white;
  }
}

// * logo languages

.nav-right {
  @include flex(center, space-between);
}

.languages {
  @include flex(center, space-around);
  margin: 0 2rem;
  .en,
  .fr {
    height: 32px;
    width: 32px;
    margin: 8px;
    transition: all 0.5s ease;
    img {
      height: 100%;
      width: 100%;
    }
    &:hover {
      transform: scale(1.2);
    }
    &.active {
      border: 2px solid white;
      border-radius: 50%;
      transform: scale(1.2);
    }
  }
}

// * nav desktop

.nav-desktop {
  .nav-items {
    flex-grow: 1;
    height: 100%;
    ul {
      @include flex(center, flex-end);
      height: 100%;
      li {
        @extend %flex;
        width: 9rem;
        border-radius: 0%;
        transition: all 0.5s ease;
        padding: 1rem;
        background: transparent;
        height: 100%;
        &:hover,
        &.active {
          background: rgba($color: white, $alpha: 0.3);
        }
        a {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 8rem;
        }
      }
    }
  }
}

// * nav mobile

.nav-mobile {
  display: none;
  .logo h3 {
    font-size: 2rem;
  }
}

.menu {
  z-index: 30;
  cursor: pointer;
}

.nav-open {
  .logos {
    display: none;
    margin-bottom: 2rem;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-image: $red-gradient;
  margin: auto;
  z-index: 1;
  transform: translateY(-100vh);
  ul {
    @include flex(center, space-around);
    text-align: center;
  }
}
.logos {
  margin-left: 1rem;
  a {
    color: white;
    margin-right: 1rem;
    transition: all 0.5s ease;
    .fa {
      margin-left: 10px;
    }
    &:hover {
      color: white;
    }
  }
}

// * home page

.home-header {
  position: fixed;
  width: 100%;
  transform: translateY(-100vh);
  nav {
    opacity: 0;
  }
}

.white-header {
  background: white;
  position: fixed;
  nav .logo h2,
  .nav-desktop .nav-items ul li a {
    color: black;
  }
}

// * other pages

.page-header {
  transition: top 0.6s ease-in-out;
  min-height: 10vh;
  .logo {
    @include flex(flex-start);
    h3 {
      margin-bottom: 0;
    }
    img {
      height: 30px;
      margin-right: 2rem;
      transition: all 1s ease;
      &:hover {
        animation: scale 1s ease-in-out infinite alternate;
      }
    }
  }
}
