// section path

.path {
  .page-inner {
    .container p {
      color: $light-color;
      margin-bottom: 20px;
      margin-top: 0;
    }
    .city {
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      text-align: center;
      .headings {
        position: absolute;
        top: 100px;
        padding: 30px 100px;
        h2 {
          font-size: 3.5rem;
          left: 100px;
        }
        h3 {
          font-weight: bold;
        }
      }
      .card {
        position: absolute;
        width: 50%;
        top: 28%;
        right: 100px;
        background: rgba(255, 254, 254, 0.9);
        padding: 16px;
        // margin-top: 10px;
        border-radius: 10px;
        img {
          height: 100px;
          width: 100px;
        }
        p {
          margin: 10px;
          text-align: left;
        }
        h3 {
          margin-bottom: 20px;
          font-weight: bold;
        }
        a {
          color: $secondary-color;
          font-weight: 500;
        }
      }
    }
  }

  #toulouse {
    background-image: url("../img/cities/toulouse.jpg");
  }
  #singapore {
    background-image: url("../img/cities/singapore2.jpg");
  }
  #bangkok {
    background-image: url("../img/cities/bangkok2.jpg");
    h2 {
      color: $light-color;
    }
  }
  #paris {
    background-image: url("../img/cities/paris.jpg");
    h2 {
      color: $primary-color;
    }
  }
  #lisbon {
    background-image: url("../img/cities/lisbon.jpg");
    h2,
    .secondary-text em {
      color: $light-color;
    }
  }
}
