/* Section portfolio */

#portfolio {
  .title {
    position: sticky;
    top: 20px;
    z-index: 4;
    background: $secondary-color;
    color: $light-color;
  }
  .gallery {
    width: 100%;
    // position: absolute;
    // top: 100px;
    // left: 0px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    .sm-header {
      position: sticky;
      top: 140px;
      left: 50px;
      height: 100px;
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      z-index: 5;

      img {
        height: 400px;
        width: 600px;
        padding: 20px;
      }
    }
  }
}
