// * portfolio //

.work-page {
  .page-sections {
    overflow-x: unset;
  }
  .title {
    position: sticky;
    top: 0px;
    z-index: 4;
    background: $primary-color;
    color: $light-color;
    h3 {
      margin-bottom: 0;
    }
  }
  .btn {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
  }
  .project-img {
    @extend %flex;
    @extend %full;
    img {
      width: 100%;
    }
  }
  .btn-container {
    display: flex;
    .btn {
      margin-right: 1rem;
      width: 100%;
      text-align: center;
      &.btn-code {
        background: $main-gradient;
      }
      &.btn-visit {
        background: $gradient;
      }
    }
  }
}

.project {
  display: grid;
  grid-template-columns: 2fr 3fr;
  @extend %center;
  grid-gap: 1rem;
  padding: 4rem 0;
  .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    @extend %full;
    color: $primary-color;
    padding: 3rem;
    border-radius: 10px;
    h3 {
      margin-bottom: 2rem;
      font-weight: 800;
    }
    span {
      font-weight: 800;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

//* clients projects

.clients-projects {
  @extend %grid;
  margin: 5rem auto;
  .project {
    h3 {
      font-weight: 800;
      margin-bottom: 0;
    }
    .type {
      margin-bottom: 2rem;
      font-weight: 500;
      color: $secondary-color;
      text-align: center;
    }
    .summury {
      font-style: italic;
    }
    .btn.btn-visit {
      width: auto;
      margin-right: auto;
    }
  }
}

//* personnal projects

.work-page .sm-header {
  position: sticky;
  width: 100%;
  top: 11.5rem;
  padding: 2rem 0;
  background: $secondary-color;
  color: $light-color;
  font-size: 2rem;
  z-index: 2;
  h4 {
    display: block;
    max-width: calc(1200px - 12rem);
    width: 80%;
    margin: auto;
  }
}

.websites-section {
  background: $grey-color;
}
