.services-page {
  overflow-x: hidden;
  .page-description {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .cta-package {
        .btn {
          background: $main-gradient;
        }
      }
    }
  }

  .title {
    // margin: 2rem 0;
    width: 100%;
    h2 {
      padding: 3rem 6rem;
      max-width: 1200px;
      margin: auto;

      // color: white !important;
    }
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  /* tabs */

  .tabs {
    // background: $grey-color;
    .title {
      padding: 3rem 0;
      h2 {
        padding: 0;
      }
    }
    .btn {
      display: block;
      width: 40%;
      margin: 4rem auto;
      text-align: center;
    }
    .tabs-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1px;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
      .tab-item {
        padding: 1.5rem 0;
        // border: 1px solid white;
        background: $secondary-color;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
          color: $light-color;
          padding: 1rem;
          margin-bottom: 0;
        }
        &:hover {
          cursor: pointer;
          // border-bottom: 2px solid $primary-color;
        }
        &.active {
          // background: $red-gradient;
          background: linear-gradient(109.6deg, #ea2967 11.2%, #9f4997 91.1%);
        }
      }
    }

    /* tab content */

    .tab-content {
      padding: 2rem 0;
      margin-bottom: 3rem;
      // background: rgba($color: $secondary-color, $alpha: 0.1);
      background: $grey-color;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      .show {
        display: block !important;
      }
      .showcase-btn {
        align-items: center;
        p {
          font-weight: 500;
          color: black;
        }
        .scroll-down-btn {
          border-bottom: 2px solid black;
          border-left: 2px solid black;
        }
      }
      #tab-1-content,
      #tab-2-content,
      #tab-3-content,
      #tab-4-content {
        display: none;
      }
      .problem {
        // color: #509cd8;
        text-align: left;
        // font-style: italic;
        // font-weight: lighter;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        img {
          height: 20px;
          margin: 0 2rem 0 0;
        }
        h4 {
          margin-bottom: 0;
          font-weight: 500;
          // font-size: 2rem;
        }
      }

      .solution {
        padding: 2rem;
        // font-weight: bold;
        padding-bottom: 2rem;
        color: $secondary-color;
        font-size: 3rem;
        span {
          // text-decoration: underline;
          font-weight: 800;
          // font-size: 3rem;
        }
        // text-align: center;
      }
      img {
        height: 300px;
        margin: 4rem 0;
      }
    }
  }

  /* services */

  .services {
    .service {
      margin: 6rem 0;
    }
    .container {
      padding-top: 0s;
    }
    .btn {
      display: block;
      width: 40%;
      margin: 4rem auto;
      text-align: center;
    }

    .intro {
      text-align: center;
      background: $grey-color;
      // padding: 3rem 0;

      .solution {
        font-weight: bold;
        // padding-bottom: 2rem;
        // text-align: center;
      }
    }
    .explanations {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 2rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 5rem 0;

      .content-img {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        img {
          margin-right: 2rem;
          margin-bottom: 2rem;
          height: 90%;
        }
      }
      .flex-col {
        flex-direction: column;
        height: 70px;
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 2rem 0;
      .arrow {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;
        img {
          height: 100%;
        }
      }
      .text {
        width: 100%;
        position: relative;
        h3 {
          font-size: 2.3rem;
          font-weight: bold;
        }
        .line {
          position: absolute;
          right: -100vh;
          bottom: 0;
          left: 10%;
          border-bottom: 3px solid #ea2967;
        }
      }
    }
  }
  #web-integration {
    span {
      color: #ea2967;
    }
    .header .text .line {
      border-bottom: 3px solid #ea2967;
    }
  }
  #web-design {
    span {
      color: $secondary-color;
    }
    .header .text .line {
      border-bottom: 3px solid $secondary-color;
    }
  }
  #web-dev {
    span {
      color: #19cc9f;
    }
    .header .text .line {
      border-bottom: 3px solid #19cc9f;
    }
  }
  #marketing {
    span {
      color: #131d49;
    }
    .header .text .line {
      border-bottom: 3px solid #131d49;
    }
  }
}

// packages

.packages {
  .title {
    background: $red-gradient;
    h2 {
      color: white;
    }
  }
  .package-container {
    margin: 15rem 0 10rem 0;
  }

  .package-cards {
    display: flex;
    justify-content: center;
  }
  .packages-dev,
  .packages-marketing {
    .paragraph {
      margin: 2rem 0;
      p {
        margin: 2rem 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
  .package-card {
    width: 30%;
    overflow: hidden;
    margin: 0 2rem;
    border-radius: 20px;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;

    height: 100%;

    &:hover {
      transform: scale(1.1);
    }

    h3 {
      font-weight: 800;
      padding: 2rem 2rem;
      color: white;
      text-align: center;
      margin-bottom: 0;
      font-size: 2.5rem;
    }
    .price {
      text-align: center;
      padding: 1rem;
      font-size: 2.5rem;
      background: black;
      color: white;
      // font-weight: bold;
    }
    ul {
      text-align: center;
      background: rgb(240, 246, 255);
      // margin-bottom: 2rem;
      li {
        // background: #cae4f5;
        // background: rgba(white, 0.9);
        font-size: 1.5rem;
        color: black;
        border: none;
        // height: 50px;
        padding: 1.5rem 3rem;
        width: 100%;
        &.fill {
          background: rgb(226, 232, 245);
        }
      }
    }
    &.basic {
      background: linear-gradient(
        96deg,
        rgb(191, 191, 194),
        rgb(63, 70, 92) 80%
      );
      .price {
        color: white;
      }
    }
    &.standard {
      transform: scale(1.1);
      transition: transform 0.5s ease;
      background: $blue-gradient;
    }
    &.premium {
      // background: #ea2967;
      background: linear-gradient(109.6deg, #ea2967 11.2%, #9f4997 91.1%);
    }
  }
  .packages-marketing {
    .intro .header .line {
      border-bottom: 4px solid #57b793;
    }
    .package-card.premium {
      background: linear-gradient(109.6deg, #3e92ca, #57b793 40%);
    }
  }

  .alacarte {
    color: black;

    background: white;
    .container {
      background: $grey-color;
      // background: $main-gradient;
    }
    .title {
      background: $red-gradient;
      h2 {
        color: white;
      }
    }
    .btn {
      display: block;
      width: 40%;
      margin: 4rem auto;
      text-align: center;
    }
    &-intro {
      margin: 2rem 0;
    }

    &-table {
      max-width: 900px;
      width: 100%;
      height: 100%;
      margin: 2rem auto;

      li {
        margin: 1rem 0;

        width: 100%;
        display: flex;
        justify-content: space-between;
        h3 {
          margin: 1rem 0;
          font-weight: bold;

          &.design-title {
            color: $light-blue;
          }
          &.dev-title {
            color: #ea2967;
          }
          &.marketing-title {
            color: rgba($color: #57b793, $alpha: 0.75);
          }
        }
      }
    }
  }
}
