// showcase

.showcase {
  height: 100vh;
  background: url("../img/bg3.jpg") no-repeat bottom center/cover;
  h2 {
    color: $primary-color;
  }
  .content {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    margin: auto;
    align-self: center;
    margin-top: 30px;
  }
  // buttons

  .showcase-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 280px;
    right: 20px;
    width: 70%;
  }
}
