// showcase

.showcase {
  height: 100vh;
  // background: url("../img/bg3.jpg") no-repeat bottom center/cover;
  background: #f8f8ff;
  padding-left: 8rem;

  svg {
    position: absolute !important;
    bottom: 0% !important;
    right: 0 !important;
    width: 70% !important;
    height: 100% !important;
    z-index: 0 !important;
    // opacity: 0.8 !important;

    #computer,
    #picture,
    #mobile {
      linearGradient {
        background: $gradient !important;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    h1 {
      margin-bottom: 30px;
      color: $primary-color;
    }
    h2 {
      color: $primary-color;
      font-weight: 500;
      margin-bottom: 0;
    }
    h3 {
      color: $secondary-color;
      font-style: italic;
      font-size: 1.8rem;
      // font-weight: lighter;
    }

    .content {
      height: 100%;
      display: flex;
      // width: 100%;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      align-items: center;
      // text-align: center;
      justify-content: flex-start;

      .headers {
        // position: absolute;
        // top: 40%;
        // left: 0%;
        width: 40%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // transform: translate(-30%, -35%);

        .showcase-btn {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          // transform: scale(0);
          // opacity: 0;
          .btn {
            padding: 1.5rem 5rem;
            margin: auto;
          }
        }
      }
    }
  }
}
