/* Slide left to home */

.home-leave {
  transform: translateX(0%);
}
.home-leave-active {
  transition: transform 1s $easing;
}
.home-leave-to {
  transform: translateX(100%);
}

.home-enter {
  transform: translateX(-100%);
}
.home-enter-active {
  transition: transform 1s $easing;
  position: absolute;
  top: 0;
  z-index: 2;
}
.home-enter-to {
  transform: translateX(0%);
}

/* Slide right from home */

.page-leave {
  transform: translateX(0%);
}
.page-leave-active {
  transition: transform 1s $easing;
}
.page-leave-to {
  transform: translateX(-100%);
}

.page-enter {
  transform: translateX(100%);
}
.page-enter-active {
  transition: transform 1s $easing;
  position: absolute;
  top: 0;
  z-index: 2;
}
.page-enter-to {
  transform: translateX(0%);
}

.transition-fade {
  transition: 1s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
