@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary-color: #1e1d21;
$secondary-color: #2f6ef5;
$text-color: #0f0f10;
$light-color: rgb(255, 255, 255);

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $primary-color;
  color: $text-color;
  font-size: 1.5rem;
  line-height: 1.6;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: $primary-color;
}
body::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

h1 {
  color: $secondary-color;
  font-size: 4.5rem;
  line-height: 1.5;
}

h2 {
  color: $primary-color;
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.title {
  position: sticky;
  background: $primary-color;
  z-index: 10;
  h2 {
    color: $light-color;
  }
}

.sm-header {
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
}

.hidden {
  visibility: hidden;
}
// sections

.section {
  position: relative;
  padding: 0px;
  // min-height: 100vh;
  min-width: 100%;
  padding-left: 8rem;
}

.container {
  padding: 4rem 6rem;
  position: relative;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}
