@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");
$primary-color: #1e1d21;
// $secondary-color: #2f6ef5;
$secondary-color: #509cd9;
$third-color: #2b3760;
$text-color: #0f0f10;
$grey-color: #f8f8ff;
$green-color: #19cc9f;
$light-color: #fffefe;
$light-blue: rgb(167, 212, 245);
$easing: cubic-bezier(0.5, 0.7, 0.4, 1);
$main-gradient: linear-gradient(
  96deg,
  #1e1d20 0%,
  #2b3760 30%,
  #348cd2 80%,
  rgba($secondary-color, 1) 100%
);
$gradient: linear-gradient(
  87deg,
  rgba(52, 140, 210, 1) 0%,
  rgb(92, 201, 247) 100%
);
$gradient-vertical: linear-gradient(
  to bottom,
  rgb(52, 140, 210) 0%,
  rgb(92, 201, 247) 100%
);
$red-gradient: linear-gradient(
  109.6deg,
  #ea2967 11.2%,
  rgba($secondary-color, 1) 91.1%
);
$blue-gradient: linear-gradient(
  96deg,
  rgba(43, 55, 96, 1) 30%,
  rgba(80, 156, 217, 1) 100%
);
$dark-gradient: linear-gradient(
  96deg,
  rgb(13, 14, 14) 30%,
  rgba(43, 55, 96, 1) 100%
);
$green-gradient: linear-gradient(96deg, #19cc9f 30%, rgba(43, 55, 96, 1) 100%);
$purple-gradient: linear-gradient(96deg, #551467 30%, rgba(43, 55, 96, 1) 100%);

$white-gradient: linear-gradient(
  to right,
  rgb(225, 236, 245) 50%,
  rgb(191, 235, 253) 100%
);

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $main-gradient;
  color: $text-color;
  font-size: 1.5rem;
  line-height: 1.6;
  height: 100%;
  // overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  background: $primary-color;
}
body::-webkit-scrollbar-thumb {
  background: $gradient-vertical;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

h1 {
  color: $secondary-color;
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  color: $primary-color;
  font-size: 2.7rem;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 12px;
}

p {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #fff;
}
strong {
  font-weight: 500;
}
ul {
  list-style: none;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.sm-header {
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

.container {
  padding: 4rem 6rem;
  position: relative;
  height: 100%;
  max-width: 1200px;
  margin: auto;

  // max-width: 1300px;
  // margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.cta-section {
  background: $primary-color;
  color: white;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.7);
  }
}
