@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(96deg, #1e1d20 0%, #2b3760 30%, #348cd2 80%, #509cd9 100%);
  color: #0f0f10;
  font-size: 1.5rem;
  line-height: 1.6;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  background: #1e1d21;
}

body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#348cd2), to(#5cc9f7));
  background: linear-gradient(to bottom, #348cd2 0%, #5cc9f7 100%);
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

h1 {
  color: #509cd9;
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  color: #1e1d21;
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 12px;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.primary-text {
  color: #1e1d21;
}

.secondary-text {
  color: #509cd9;
}

.sm-header {
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
  text-align: left;
}

.hidden {
  visibility: hidden;
}

.container {
  padding: 4rem 6rem;
  position: relative;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
}

.page {
  position: relative;
  padding: 0px;
  min-width: 100%;
  min-height: 90vh;
  background: #fffefe;
}

.page .page-inner {
  height: 100%;
}

.page-sections .section {
  min-height: unset;
  display: block;
}

.page-sections .section .fullpage {
  height: 100%;
  width: 90%;
  margin: auto;
}

.page-sections .section .fullpage .hero,
.page-sections .section .fullpage .details {
  margin: 15% auto;
}

.page-sections .section .fullpage .hero {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.page-sections .section .fullpage .hero img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page-sections .section .fullpage .details {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  opacity: 0;
}

.page-sections .section .fullpage .details h1 .text {
  font-size: 3rem;
}

.page-sections .section .fullpage .details h2 .text {
  font-size: 4rem;
}

.page-sections .section .fullpage .details .showcase-btn {
  width: 20%;
}

.page-sections.about h3:first-child {
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.page-sections.about .section .fullpage {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page-sections.about .section .fullpage .details {
  margin: 15% auto;
}

.page-sections.about .section .fullpage .hero {
  margin: 15% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-sections.about .section .fullpage .hero img {
  -o-object-fit: unset;
     object-fit: unset;
  margin: auto;
}

.page-title {
  background: linear-gradient(96deg, #1e1d20 0%, #2b3760 30%, #348cd2 80%, #509cd9 100%);
  z-index: 10;
  height: 6vh;
}

.page-title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 6rem;
}

.page-title .container img {
  height: 30px;
  margin-right: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.page-title .container img:hover {
  -webkit-animation: scale 1s ease-in-out infinite alternate;
          animation: scale 1s ease-in-out infinite alternate;
}

.page-title .container h2 {
  color: #fffefe;
  margin-bottom: 0;
  font-size: 2rem;
}

.page-description {
  text-align: left;
  width: 100%;
  margin: auto;
  position: relative;
  bottom: 0;
  background: #f8f8ff;
  color: black;
}

.page-description .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.page-description .container img {
  height: 70%;
  margin: auto;
}

.page-description .container h4:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 1rem;
  vertical-align: middle;
  font-weight: 900;
}

.home-page {
  color: #1e1d21;
  background: #f8f8ff;
  overflow-y: hidden;
}

.home-page #home-sections {
  width: 95%;
  margin: auto;
  margin-left: 5%;
}

.home-page #home-sections #showcase {
  height: 90vh !important;
}

.home-page #home-sections #showcase .fp-tableCell {
  height: auto !important;
}

.home-page #home-sections .section .svg-container {
  opacity: 0.6;
}

.home-page #home-sections .section .fullpage .details h1 .text {
  color: #1e1d21;
}

.home-page #home-sections .section .fullpage .details h2 .text {
  color: #509cd9;
}

.home-page #home-sections .section .fullpage .details h4 .text {
  display: none;
}

.home-page .arrows-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5vh;
  left: 2vh;
}

.home-page .arrows-btn p {
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  margin-top: -50px;
}

.home-page .arrows-btn #scroll-down-btn div {
  padding-top: 40px;
}

.home-page .arrows-btn #scroll-down-btn div span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-page .arrows-btn #scroll-down-btn div span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.home-page .arrows-btn #scroll-down-btn div span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.home-page .arrows-btn #scroll-down-btn div span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.home-page .arrows-btn #scroll-down-btn div span p {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home-page .arrows-btn.mobile {
  display: none;
}

.section {
  position: relative;
  min-height: 90vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section svg {
  width: 105% !important;
  height: 100% !important;
  margin-left: auto !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.section svg circle {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section .svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0.1;
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section#showcase {
  margin-bottom: 10vh;
}

.section .fullpage {
  height: 100vh;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2fr;
      grid-template-columns: 1.5fr 2fr;
  grid-gap: 2rem;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section .fullpage .hero {
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.section .fullpage .hero img {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.section .fullpage .hero .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.section .fullpage .details {
  width: 100%;
  z-index: 1;
  margin: auto;
  padding-left: 2rem;
}

.section .fullpage .details .hide {
  overflow: hidden;
}

.section .fullpage .details .hide .text {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.section .fullpage .details h1 .text {
  font-size: 8rem;
  color: #a7d4f5;
}

.section .fullpage .details h2 .text {
  font-size: 3rem;
  color: #fffefe;
}

.section .fullpage .details h4 .text {
  padding: 20px 0;
  color: #fffefe;
}

#fp-nav {
  left: 0;
  margin-top: 0 !important;
  z-index: 20;
}

#fp-nav.fp-right {
  right: unset;
}

#fp-nav ul li {
  width: 40px !important;
  height: 40px !important;
}

#fp-nav ul li a span {
  background: #1e1d21;
  opacity: 0.5;
  width: 20px !important;
  height: 20px !important;
}

#fp-nav ul li a.active span {
  opacity: 1;
  width: 22px;
  height: 22px;
  margin: -2px 0 0 -2px;
}

#fp-nav ul li:hover span {
  width: 22px;
  height: 22px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

@-webkit-keyframes dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  background-image: linear-gradient(96deg, #1e1d20 0%, #2b3760 30%, #348cd2 80%, #509cd9 100%);
}

nav {
  height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

nav .logo {
  z-index: 2;
}

nav .logo h2 {
  margin-bottom: 0;
  font-size: 2.5rem;
  color: white;
}

nav .logos {
  margin-left: 1rem;
}

nav .logos a {
  color: white;
  margin-right: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .logos a .fa {
  margin-left: 10px;
}

nav .logos a:hover {
  color: white;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 5rem;
}

nav .languages .en,
nav .languages .fr {
  height: 32px;
  width: 32px;
  margin: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .languages .en img,
nav .languages .fr img {
  height: 100%;
  width: 100%;
}

nav .languages .en:hover,
nav .languages .fr:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .languages .en.active,
nav .languages .fr.active {
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav .menu {
  z-index: 30;
  cursor: pointer;
}

nav .nav-open {
  width: 100%;
  margin: auto;
  height: 50vh;
  background-image: linear-gradient(109.6deg, #ea2967 11.2%, #509cd9 91.1%);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

nav .nav-open .logos {
  display: none;
  margin-bottom: 2rem;
}

nav .nav-open ul {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 0;
}

nav .nav-open ul li {
  background: transparent;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

nav .nav-open ul li a {
  height: 100%;
  padding: 6rem 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fffefe;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .nav-open ul li.active a {
  font-size: x-large;
}

nav .nav-open ul li:hover {
  background: rgba(255, 255, 255, 0.4);
}

.home-page header {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.home-page header nav {
  opacity: 0;
}

.nav-page {
  -webkit-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  min-height: 10vh;
}

.nav-page .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-page .logo h3 {
  margin-bottom: 0;
}

.nav-page .logo img {
  height: 30px;
  margin-right: 2rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-page .logo img:hover {
  -webkit-animation: scale 1s ease-in-out infinite alternate;
          animation: scale 1s ease-in-out infinite alternate;
}

/* Slide left to home */
.home-leave {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.home-leave-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.home-leave-to {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.home-enter {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.home-enter-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  position: absolute;
  top: 0;
  z-index: 2;
}

.home-enter-to {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* Slide right from home */
.page-leave {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.page-leave-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
}

.page-leave-to {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.page-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-enter-active {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  transition: transform 1s cubic-bezier(0.5, 0.7, 0.4, 1), -webkit-transform 1s cubic-bezier(0.5, 0.7, 0.4, 1);
  position: absolute;
  top: 0;
  z-index: 2;
}

.page-enter-to {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.transition-fade {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.btn {
  display: inline-block;
  border: 0;
  color: #fff;
  border-radius: 20px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  background-image: linear-gradient(87deg, #348cd2 0%, #5cc9f7 100%);
  background-size: 200% auto;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

#scroll-top-btn {
  display: inline-block;
  background-color: #1e1d21;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2vh;
  right: 10px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

#scroll-top-btn:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 5rem;
  color: #fffefe;
  -webkit-transition: all 0.6;
  transition: all 0.6;
}

#scroll-top-btn:hover {
  cursor: pointer;
  background-color: #1e1d21;
}

#scroll-top-btn:hover:after {
  color: #509cd9;
}

#scroll-top-btn:active {
  background-color: #1e1d21;
  color: #509cd9;
}

#scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-down-btn {
  position: relative;
  margin: auto;
  width: 34px;
  height: 34px;
  border-left: 5px solid #509cd9;
  border-bottom: 5px solid #509cd9;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#showcase {
  height: 90vh;
  background: #f8f8ff;
}

#showcase svg {
  position: absolute !important;
  bottom: 0% !important;
  right: 0 !important;
  width: 65% !important;
  height: 100% !important;
  z-index: 0 !important;
}

#showcase svg #computer linearGradient,
#showcase svg #picture linearGradient,
#showcase svg #mobile linearGradient {
  background: linear-gradient(87deg, #348cd2 0%, #5cc9f7 100%) !important;
}

#showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
}

#showcase .container h1 {
  color: #1e1d21;
}

#showcase .container h2 {
  color: #1e1d21;
  font-weight: 500;
}

#showcase .container h3 {
  color: #509cd9;
  font-style: italic;
  font-size: 1.8rem;
}

#showcase .container .headers-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#showcase .container .headers-container .headers {
  opacity: 0;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#showcase .container .headers-container .headers .title {
  padding: 2rem 0;
}

#showcase .container .headers-container .headers .subtitle {
  color: #4a8cd4;
}

.showcase-btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.showcase-btn .btn {
  padding: 1.5rem 5rem;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#00d2ff), color-stop(51%, #3a7bd5), to(#00d2ff));
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}

/* Section about */
.about {
  overflow: hidden;
}

.about .page-inner .container {
  max-width: 1200px;
  margin: auto;
}

.about .page-inner .quote {
  background: #f8f8ff;
}

.about .page-inner .quote .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.about .page-inner .quote .container h3 {
  font-size: 2.5rem;
  padding: 3rem;
  font-style: italic;
  margin: auto;
  font-weight: 400;
  text-align: center;
}

.about .page-inner .quote .container .photo {
  width: 70%;
  margin: auto;
  z-index: 0;
}

.about .page-inner .content {
  background: #fffefe no-repeat center center/cover;
}

.about .page-inner .content .cards {
  margin: auto;
  margin-bottom: 3rem;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.about .page-inner .content .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.about .page-inner .content .cards .card > div {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .page-inner .content .cards .card > div .icon {
  width: 70%;
  height: 100%;
  margin: auto;
}

.about .page-inner .content .cards .card .text {
  background: #fffefe;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.about .page-inner .content .cards .card .text h2 {
  text-align: left;
  color: #509cd9;
}

.about .page-inner .content .cards :last-child {
  margin-bottom: 0 !important;
}

.about .page-inner .cta {
  padding: 7rem 0 5rem 0;
  text-align: center;
  background: #f8f8ff;
}

.about .page-inner .cta h4 {
  margin-bottom: 10px;
  font-weight: 400;
}

#experience .before-title {
  background: #1e1d21;
  color: white;
  padding: 4rem 6rem;
}

.path .page-inner .container p {
  color: #fffefe;
  margin-bottom: 20px;
  margin-top: 0;
}

.path .page-inner .city {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.path .page-inner .city .headings {
  position: absolute;
  top: 100px;
  padding: 30px 100px;
}

.path .page-inner .city .headings h2 {
  font-size: 3.5rem;
  left: 100px;
}

.path .page-inner .city .headings h3 {
  font-weight: bold;
}

.path .page-inner .city .card {
  position: absolute;
  width: 50%;
  top: 28%;
  right: 100px;
  background: rgba(255, 254, 254, 0.9);
  padding: 16px;
  border-radius: 10px;
}

.path .page-inner .city .card img {
  height: 100px;
  width: 100px;
}

.path .page-inner .city .card p {
  margin: 10px;
  text-align: left;
}

.path .page-inner .city .card h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.path .page-inner .city .card a {
  color: #509cd9;
  font-weight: 500;
}

.path #toulouse {
  background-image: url("../img/cities/toulouse.jpg");
}

.path #singapore {
  background-image: url("../img/cities/singapore2.jpg");
}

.path #bangkok {
  background-image: url("../img/cities/bangkok2.jpg");
}

.path #bangkok h2 {
  color: #fffefe;
}

.path #paris {
  background-image: url("../img/cities/paris.jpg");
}

.path #paris h2 {
  color: #1e1d21;
}

.path #lisbon {
  background-image: url("../img/cities/lisbon.jpg");
}

.path #lisbon h2,
.path #lisbon .secondary-text em {
  color: #fffefe;
}

.portfolio .websites {
  background: #f8f8ff;
}

.portfolio .title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4;
  background: #509cd9;
  color: #fffefe;
}

.portfolio .gallery {
  padding-top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr;
      grid-template-columns: 1fr 7fr;
  grid-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.portfolio .gallery .sm-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  color: #1e1d21;
  height: 100px;
  line-height: 100px;
}

.portfolio .gallery .projects {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  max-width: 1200px;
}

.portfolio .gallery .projects .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 3fr;
      grid-template-columns: 1.5fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
  padding: 4rem 0;
}

.portfolio .gallery .projects .project .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #1e1d21;
  padding: 3rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.portfolio .gallery .projects .project .project-text h3 {
  margin-bottom: 2rem;
  font-weight: 800;
}

.portfolio .gallery .projects .project .project-text span {
  font-weight: 800;
}

.portfolio .gallery .projects .project .project-text .btn-container .btn {
  width: 100%;
  text-align: center;
}

.portfolio .gallery .projects .project .project-text .btn-container .btn:first-child {
  background: linear-gradient(96deg, #1e1d20 0%, #2b3760 30%, #348cd2 80%, #509cd9 100%);
}

.portfolio .gallery .projects .project .project-text .btn-container .btn:nth-child(2) {
  background: linear-gradient(109.6deg, #ea2967 11.2%, #509cd9 91.1%);
}

.portfolio .gallery .projects .project .project-img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .gallery .projects .project .project-img img {
  width: 85%;
  height: 90%;
  border-radius: 10px;
}

.services-page {
  overflow-x: hidden;
  /* tabs */
  /* services */
}

.services-page .title {
  width: 100%;
}

.services-page .title h2 {
  padding: 3rem 6rem;
  max-width: 1200px;
  margin: auto;
}

.services-page .container {
  max-width: 1200px;
  margin: auto;
}

.services-page .tabs {
  /* tab content */
}

.services-page .tabs .title {
  padding: 3rem 0;
}

.services-page .tabs .title h2 {
  padding: 0;
}

.services-page .tabs .btn {
  display: block;
  width: 40%;
  margin: 4rem auto;
  text-align: center;
}

.services-page .tabs .tabs-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.services-page .tabs .tabs-nav .tab-item {
  padding: 1.5rem 0;
  background: #509cd9;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-page .tabs .tabs-nav .tab-item h4 {
  color: #fffefe;
  padding: 1rem;
  margin-bottom: 0;
}

.services-page .tabs .tabs-nav .tab-item:hover {
  cursor: pointer;
}

.services-page .tabs .tabs-nav .tab-item.active {
  background: linear-gradient(109.6deg, #ea2967 11.2%, #9f4997 91.1%);
}

.services-page .tabs .tab-content {
  padding: 2rem 0;
  margin-bottom: 3rem;
  background: #f8f8ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.services-page .tabs .tab-content .show {
  display: block !important;
}

.services-page .tabs .tab-content .showcase-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-page .tabs .tab-content .showcase-btn p {
  font-weight: 500;
  color: black;
}

.services-page .tabs .tab-content .showcase-btn .scroll-down-btn {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.services-page .tabs .tab-content #tab-1-content,
.services-page .tabs .tab-content #tab-2-content,
.services-page .tabs .tab-content #tab-3-content,
.services-page .tabs .tab-content #tab-4-content {
  display: none;
}

.services-page .tabs .tab-content .problem {
  text-align: left;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-page .tabs .tab-content .problem img {
  height: 20px;
  margin: 0 2rem 0 0;
}

.services-page .tabs .tab-content .problem h4 {
  margin-bottom: 0;
  font-weight: 500;
}

.services-page .tabs .tab-content .solution {
  padding: 2rem;
  padding-bottom: 2rem;
  color: #509cd9;
  font-size: 3rem;
}

.services-page .tabs .tab-content .solution span {
  font-weight: 800;
}

.services-page .tabs .tab-content img {
  height: 300px;
  margin: 4rem 0;
}

.services-page .services .service {
  margin: 6rem 0 0 0;
  position: relative;
  padding-bottom: 100px;
}

.services-page .services .service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(87deg, #348cd2 0%, #5cc9f7 100%);
}

.services-page .services .service:first-child {
  margin-top: 0;
}

.services-page .services .service:last-child {
  padding-bottom: 0;
}

.services-page .services .service:last-child::after {
  height: 0;
}

.services-page .services .btn {
  display: block;
  width: 40%;
  margin: 4rem auto;
  text-align: center;
  background: linear-gradient(87deg, #348cd2 0%, #5cc9f7 100%);
}

.services-page .services .intro {
  text-align: center;
  background: #f8f8ff;
  margin: 6rem 0;
}

.services-page .services .intro .solution {
  font-weight: bold;
}

.services-page .services .explanations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 6rem 0;
}

.services-page .services .explanations .content-img {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-page .services .explanations .content-img img {
  margin-right: 2rem;
  margin-bottom: 2rem;
  height: 90%;
}

.services-page .services .explanations .flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
}

.services-page .services .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
}

.services-page .services .header .arrow {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2rem;
}

.services-page .services .header .arrow img {
  height: 100%;
}

.services-page .services .header .text {
  width: 100%;
  position: relative;
}

.services-page .services .header .text h3 {
  font-size: 2.3rem;
  font-weight: bold;
}

.services-page .services .header .text .line {
  position: absolute;
  right: -100vh;
  bottom: 0;
  left: 10%;
  border-bottom: 3px solid #ea2967;
}

.services-page #web-integration span {
  color: #ea2967;
}

.services-page #web-integration .header .text .line {
  border-bottom: 3px solid #ea2967;
}

.services-page #web-integration .btn {
  background: linear-gradient(109.6deg, #ea2967 11.2%, #509cd9 91.1%);
}

.services-page #web-integration::after {
  background: linear-gradient(109.6deg, #ea2967 11.2%, #509cd9 91.1%);
}

.services-page #web-design span {
  color: #509cd9;
}

.services-page #web-design .header .text .line {
  border-bottom: 3px solid #509cd9;
}

.services-page #web-dev span {
  color: #19cc9f;
}

.services-page #web-dev .header .text .line {
  border-bottom: 3px solid #19cc9f;
}

.services-page #web-dev .btn {
  background: linear-gradient(96deg, #19cc9f 30%, #2b3760 100%);
}

.services-page #web-dev::after {
  background: linear-gradient(96deg, #19cc9f 30%, #2b3760 100%);
}

.services-page #marketing span {
  color: #131d49;
}

.services-page #marketing .header .text .line {
  border-bottom: 3px solid #131d49;
}

.services-page #marketing .btn {
  background: linear-gradient(96deg, #2b3760 30%, #509cd9 100%);
}

.services-page #marketing::after {
  background: linear-gradient(96deg, #2b3760 30%, #509cd9 100%);
}

.contact {
  background: #f8f8ff;
  overflow: hidden;
  min-height: unset;
}

.contact .title {
  background: #509cd9;
  color: #fffefe;
}

.contact .page-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .page-inner img {
  width: 100%;
  height: 110%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .page-inner .page-info {
  top: 0;
  padding: 4rem;
  text-align: left;
  width: 80%;
  margin: auto;
  max-width: 900px;
}

.contact .page-inner > div {
  height: 100%;
}

.contact .page-inner > div .form-container {
  height: 80%;
  background: transparent;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4rem;
}

.contact .page-inner > div .form-container form {
  border-radius: 5px;
  padding: 4rem 0;
  width: 80%;
  max-width: 900px;
  margin: auto;
  /* When moving the mouse over the submit button, add a darker green color */
}

.contact .page-inner > div .form-container form .names {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .page-inner > div .form-container form .input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #1e1d21;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: none;
  font-family: inherit;
  color: #1e1d21;
  outline: none;
  background: #e8f0fe;
}

.contact .page-inner > div .form-container form .input:focus {
  -webkit-box-shadow: inset 0 0 5px 3px #509cd9;
          box-shadow: inset 0 0 5px 3px #509cd9;
  border-radius: 4px;
  border: 0;
}

.contact .page-inner > div .form-container form textarea {
  height: 150px;
  margin-bottom: 20px;
}

.contact .page-inner > div .form-container form input::-webkit-input-placeholder,
.contact .page-inner > div .form-container form textarea::-webkit-input-placeholder {
  opacity: 0.4;
  font-size: 1.5rem;
}

.contact .page-inner > div .form-container form input:-ms-input-placeholder,
.contact .page-inner > div .form-container form textarea:-ms-input-placeholder {
  opacity: 0.4;
  font-size: 1.5rem;
}

.contact .page-inner > div .form-container form input::-ms-input-placeholder,
.contact .page-inner > div .form-container form textarea::-ms-input-placeholder {
  opacity: 0.4;
  font-size: 1.5rem;
}

.contact .page-inner > div .form-container form input::placeholder,
.contact .page-inner > div .form-container form textarea::placeholder {
  opacity: 0.4;
  font-size: 1.5rem;
}

.contact .page-inner > div .form-container form input[type="submit"] {
  background-color: #1e1d21;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  outline: none;
  pointer-events: none;
}

.contact .page-inner > div .form-container form label {
  color: #1e1d21;
  font-weight: 800;
}

.contact .page-inner > div .form-container form input[type="submit"]:hover {
  background-color: #509cd9;
}

.contact .page-inner > div .form-container form #error_message {
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  background: #fe8b8e;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

.contact .page-inner > div .form-container form .redShadow {
  -webkit-box-shadow: inset 0 0 5px 3px #fe8b8e;
          box-shadow: inset 0 0 5px 3px #fe8b8e;
  border-radius: 4px;
  border: 0;
}

/* Footer */
footer {
  background: linear-gradient(96deg, #1e1d20 0%, #2b3760 30%, #348cd2 80%, #509cd9 100%);
  height: 10vh;
  padding-left: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fffefe;
}

footer span {
  font-weight: 900;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logos .fa {
  font-size: 3rem;
  margin-left: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logos .fa:hover {
  color: #1e1d21;
}

/* Mobile */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .content {
    padding: 0;
  }
  .content .photo {
    height: 450px;
    width: 300px;
    right: 0;
  }
  .portfolio .gallery {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  .portfolio .gallery .projects .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio .gallery .projects .project .project-text {
    padding: 2rem 5rem;
    text-align: center;
  }
  .portfolio .gallery .projects .project .project-text p {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  .portfolio .gallery .projects .project .project-text .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .gallery .projects .project .project-text .btn-container .btn {
    width: 30%;
    margin: 3rem 1rem 0 1rem;
  }
  .portfolio .gallery .projects .project .project-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .portfolio .gallery .landing .projects .project .project-text p {
    text-align: center;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 50%;
  }
  h2,
  h1 {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  nav .logos {
    display: none;
  }
  nav .languages .en,
  nav .languages .fr {
    height: 24px;
    width: 24px;
  }
  nav .nav-open {
    height: 100vh;
  }
  nav .nav-open .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  nav .nav-open .logos .fa {
    font-size: 5rem;
  }
  nav .nav-open ul {
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .nav-open ul li {
    width: unset;
    height: unset;
    margin: 2rem;
  }
  nav .nav-open ul li.active, nav .nav-open ul li:hover {
    background: none;
  }
  nav .nav-open ul li.active a, nav .nav-open ul li:hover a {
    font-size: 5rem;
  }
  nav .nav-open ul li a {
    font-size: 3.5rem;
    padding: 3rem 0;
  }
  #fp-nav ul li {
    margin: 0;
    width: 30px !important;
    height: 30px !important;
  }
  #fp-nav ul li a span {
    width: 10px !important;
    height: 10px !important;
  }
  .home-page .arrows-btn {
    display: none;
  }
  .home-page .arrows-btn.mobile {
    display: block;
    left: 0;
    top: 85%;
    right: 0;
  }
  .home-page .arrows-btn.mobile #scroll-down-btn div span {
    position: absolute;
    border-left: 3px solid #509cd9;
    border-bottom: 3px solid #509cd9;
  }
  .home-page #home-sections,
  .home-page .page-sections {
    width: 100%;
    margin-left: 0;
  }
  .home-page #home-sections .section#showcase svg,
  .home-page .page-sections .section#showcase svg {
    bottom: 0% !important;
    left: 15% !important;
    width: 100% !important;
    height: auto !important;
    margin: auto;
  }
  .home-page #home-sections .section#work svg,
  .home-page #home-sections .section#about svg,
  .home-page #home-sections .section#experience svg,
  .home-page #home-sections .section#contact svg,
  .home-page .page-sections .section#work svg,
  .home-page .page-sections .section#about svg,
  .home-page .page-sections .section#experience svg,
  .home-page .page-sections .section#contact svg {
    bottom: 10% !important;
    width: 100% !important;
    height: auto !important;
  }
  .home-page #home-sections .fullpage,
  .home-page .page-sections .fullpage {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0;
    width: 90%;
    margin: auto;
  }
  .home-page #home-sections .fullpage .details,
  .home-page .page-sections .fullpage .details {
    text-align: center;
    padding: 2rem 4rem;
  }
  .home-page #home-sections .fullpage .hero,
  .home-page .page-sections .fullpage .hero {
    margin: 10% 10% auto 10%;
  }
  .home-page #home-sections #showcase,
  .home-page .page-sections #showcase {
    text-align: center;
  }
  .home-page #home-sections #showcase .container .headers-container,
  .home-page .page-sections #showcase .container .headers-container {
    height: 50%;
  }
  .home-page #home-sections #showcase .container .headers-container .headers,
  .home-page .page-sections #showcase .container .headers-container .headers {
    text-align: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .home-page #home-sections #showcase .container .headers-container .headers .showcase-btn,
  .home-page .page-sections #showcase .container .headers-container .headers .showcase-btn {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .page-sections .section {
    display: block;
  }
  .page-sections .section .fullpage {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .page-sections .section .fullpage .hero {
    width: 90% !important;
    height: 90% !important;
    margin: 10% auto !important;
    padding: 2rem;
  }
  .page-sections .section .fullpage .details {
    margin: auto !important;
    padding: 4rem 6rem;
    text-align: center;
  }
  .page-sections .section .fullpage .details .showcase-btn {
    margin-top: 0;
    width: 100%;
  }
  .page-sections .section .fullpage .details .showcase-btn .scroll-down-btn {
    width: 20px;
    height: 20px;
  }
  .page-sections .page-description .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-sections .page-description .container img {
    width: 40%;
    height: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about .page-inner .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .page-inner .container .content .photo {
    margin: auto;
    width: 60%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .portfolio .page-title {
    position: relative;
    top: 0;
  }
  .portfolio .gallery {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    top: 0;
  }
  .portfolio .gallery .sm-header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 50px;
    line-height: 50px;
    padding: 2rem 0 0 0;
    text-align: center;
  }
  .portfolio .gallery .projects img {
    height: auto;
    width: 90%;
  }
  .portfolio .gallery .projects .project .project-text p {
    width: 100%;
  }
  .contact .page-inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .page-inner .page-info h4 {
    width: 100%;
  }
  .contact .page-inner .img {
    display: none;
  }
  .contact .page-inner .page-info {
    text-align: center;
  }
  .contact .page-inner > div .form-container form {
    width: 90%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .btn:hover {
    -webkit-transform: initial;
            transform: initial;
    background: #509cd9;
  }
  .page {
    padding: 0;
  }
  #scroll-top-btn {
    bottom: 10vh;
  }
  .home-page #home-sections .section#showcase svg {
    bottom: 5% !important;
  }
  .showcase {
    height: 90vh;
  }
  .showcase .container {
    width: 100%;
  }
  .about .page-inner .quote .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .page-inner .quote .container h3 {
    font-size: 2rem;
  }
  .about .page-inner .quote .container .photo {
    width: 50%;
  }
  .about .page-inner .content > .container {
    grid-gap: 6rem;
  }
  .about .page-inner .content > .container .cards > .card:nth-child(2) .draw,
  .about .page-inner .content > .container .cards .card:nth-child(4) .draw {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .about .page-inner .content > .container .cards .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  .about .page-inner .content > .container .cards .card .icon {
    padding: 2rem;
  }
  .about .page-inner .content > .container .cards .card h2 {
    text-align: center;
  }
  .path .page-inner .city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .path .page-inner .city .headings {
    position: relative;
    padding: 30px;
    top: 10px;
  }
  .path .page-inner .city .card {
    right: auto;
    width: auto;
    margin: 20px;
  }
  .portfolio .gallery .projects .project .project-text {
    padding: 1rem;
  }
  .portfolio .gallery .projects .project .project-text h3 {
    margin-bottom: 1rem;
  }
  .portfolio .gallery .projects .project .project-text p {
    width: 90%;
  }
  .portfolio .gallery .projects .project .project-text .btn-container .btn {
    width: 50%;
    margin: 1rem;
  }
  .services-page .tabs > .container {
    padding: 4rem 2rem;
  }
  .services-page .tabs > .container .tabs-nav {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .services-page .tabs > .container .tabs-nav .tab-item {
    width: 100%;
  }
  .services-page .tabs > .container .tab-content {
    background: rgba(80, 156, 217, 0.1);
  }
  .services-page .tabs > .container .tab-content .tab-content-item > img {
    height: 200px;
    margin: 4rem 0;
  }
  .services-page .services .explanations {
    display: block;
  }
  .services-page .services .explanations .content-img {
    margin-top: 5rem;
  }
  .services-page .services .explanations .content-img img {
    height: 60px;
  }
  .services-page .services .explanations .flex-col {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services-page .services .explanations .flex-col img {
    height: 50px;
  }
  footer {
    height: 14vh;
    padding: 1rem 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border: none;
  }
  footer p {
    margin: 0;
    padding: 2px;
  }
  footer .logos .fa {
    margin: 0;
    font-size: 2.5rem;
    margin: 8px;
  }
}

body[data-aos-duration="custom"] [data-aos],
[data-aos][data-aos][data-aos-duration="custom"] {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

body[data-aos-duration="custom"] [data-aos].aos-animate,
[data-aos][data-aos][data-aos-duration="custom"].aos-animate {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

@media (min-width: 700px) {
  body[data-aos-duration="custom"] [data-aos].aos-animate,
  [data-aos][data-aos][data-aos-duration="custom"].aos-animate {
    -webkit-transition-duration: 2.5s;
            transition-duration: 2.5s;
  }
}
