@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #1e1d21;
  color: #0f0f10;
  font-size: 1.5rem;
  line-height: 1.6;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1d21;
}

body::-webkit-scrollbar-thumb {
  background: #2f6ef5;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

h1 {
  color: #2f6ef5;
  font-size: 4.5rem;
  line-height: 1.5;
}

h2 {
  color: #1e1d21;
  font-size: 2.3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.primary-text {
  color: #1e1d21;
}

.secondary-text {
  color: #2f6ef5;
}

.sm-header {
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
}

.hidden {
  visibility: hidden;
}

.section {
  position: relative;
  padding: 0px;
  min-width: 100%;
  padding-left: 8rem;
}

.section-title {
  position: -webkit-sticky;
  position: sticky;
  background: #2f6ef5;
  z-index: 10;
}

.section-title h2 {
  color: white;
  margin-bottom: 0;
}

.section-description {
  background: #1e1d21;
  color: white !important;
  text-align: left;
  width: 100%;
  margin: auto;
}

.container {
  padding: 4rem 6rem;
  position: relative;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  position: fixed;
  background-color: #0f0f10;
  -webkit-transition: width 600ms ease;
  transition: width 600ms ease;
  z-index: 20;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  height: 10vh;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 1s;
  transition: 1s;
  height: 100%;
}

.nav-link p {
  display: none;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #2f6ef5;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link .fas {
  font-size: 3rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: white;
  background: #2f6ef5;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo-text {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo .fa-angle-double-right {
  font-size: 3em;
  margin: 25px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar:hover .logo .fa-angle-double-right {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 10vh;
    padding: 5px 10px;
  }
  .navbar .logo {
    display: none;
  }
  .navbar #home-link {
    display: none;
  }
  .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .navbar-nav .nav-item {
    padding: -5px auto 5px auto;
  }
  .navbar .navbar-nav .nav-item:last-child {
    margin-top: 0;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar .navbar-nav .nav-item .nav-link p {
    display: inline;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 8rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 25rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
}

.btn {
  display: inline-block;
  border: 0;
  background: #2f6ef5;
  color: #fff;
  border-radius: 20px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #1e1d21;
}

#scroll-top-btn {
  display: inline-block;
  background-color: #2f6ef5;
  width: 5rem;
  height: 5rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2vh;
  right: 10px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

#scroll-top-btn:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 5rem;
  color: #1e1d21;
  -webkit-transition: all 0.6;
  transition: all 0.6;
}

#scroll-top-btn:hover {
  cursor: pointer;
  background-color: #1e1d21;
}

#scroll-top-btn:hover:after {
  color: #2f6ef5;
}

#scroll-top-btn:active {
  background-color: #1e1d21;
  color: #2f6ef5;
}

#scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-down-btn {
  position: relative;
  margin: auto;
  width: 24px;
  height: 24px;
  border-left: 3px solid #2f6ef5;
  border-bottom: 3px solid #2f6ef5;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.showcase {
  height: 100vh;
  background: url("../img/bg3.jpg") no-repeat bottom center/cover;
}

.showcase .headers {
  position: absolute;
  top: 150px;
  right: 0px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .headers h2 {
  color: #1e1d21;
  font-style: italic;
  font-weight: 400;
}

.showcase .btn {
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 30px;
}

.showcase .showcase-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 280px;
  right: 20px;
  width: 70%;
}

/* Section about */
#about {
  overflow: hidden;
}

#about .section-inner .quote {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: #1e1d21;
}

#about .section-inner .quote h3 {
  font-size: 2.5rem;
  color: white;
  padding: 3rem;
  font-style: italic;
  margin: auto;
  font-weight: 400;
  text-align: center;
}

#about .section-inner .quote .photo {
  width: 70%;
  margin: auto;
  z-index: 0;
}

#about .section-inner .container {
  background: #fffefe no-repeat center center/cover;
}

#about .section-inner .container > div {
  max-width: 1200px;
  margin: auto;
}

#about .section-inner .container .cards {
  margin: auto;
  margin-bottom: 3rem;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#about .section-inner .container .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

#about .section-inner .container .cards .card > div {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .section-inner .container .cards .card > div .icon {
  width: 70%;
  height: 100%;
  margin: auto;
}

#about .section-inner .container .cards .card .text {
  background: #fffefe;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#about .section-inner .container .cards .card .text h2 {
  text-align: left;
  color: #2f6ef5;
}

#about .section-inner .container .cards :last-child {
  margin-bottom: 0 !important;
}

#about .section-inner .container .cta {
  padding: 7rem 0 5rem 0;
  text-align: center;
}

#about .section-inner .container .cta h4 {
  margin-bottom: 10px;
  font-weight: 400;
}

#path .section-inner .container p {
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

#path .section-inner .city {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#path .section-inner .city .headings {
  position: absolute;
  top: 100px;
  padding: 30px 100px;
}

#path .section-inner .city .headings h2 {
  font-size: 3.5rem;
  left: 100px;
}

#path .section-inner .city .card {
  position: absolute;
  width: 50%;
  top: 28%;
  right: 100px;
  background: rgba(255, 254, 254, 0.8);
  padding: 16px;
  border-radius: 10px;
}

#path .section-inner .city .card img {
  height: 100px;
  width: 100px;
}

#path .section-inner .city .card p {
  margin: 10px;
  text-align: left;
}

#path .section-inner .city .card h3 {
  margin-bottom: 20px;
}

#path .section-inner .city .card a {
  color: #2f6ef5;
  font-weight: 900;
}

#path #toulouse {
  background-image: url("../img/cities/toulouse.jpg");
}

#path #singapore {
  background-image: url("../img/cities/singapore2.jpg");
}

#path #bangkok {
  background-image: url("../img/cities/bangkok2.jpg");
}

#path #bangkok h2 {
  color: white;
}

#path #paris {
  background-image: url("../img/cities/paris.jpg");
}

#path #paris h2 {
  color: #1e1d21;
}

#path #lisbon {
  background-image: url("../img/cities/lisbon.jpg");
}

#path #lisbon h2 {
  color: white;
}

/* Section portfolio */
#portfolio .title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 4;
  background: #2f6ef5;
  color: white;
}

#portfolio .gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#portfolio .gallery .sm-header {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  left: 50px;
  height: 100px;
  line-height: 100px;
}

#portfolio .gallery .projects {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

#portfolio .gallery .projects .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 1rem;
  padding: 4rem;
}

#portfolio .gallery .projects .project .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #c3c3c4;
  padding: 3rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#portfolio .gallery .projects .project .project-text h3 {
  margin-bottom: 2rem;
  font-weight: 800;
}

#portfolio .gallery .projects .project .project-text span {
  font-weight: 800;
}

#portfolio .gallery .projects .project .project-text .btn-container .btn {
  width: 100%;
  text-align: center;
}

#portfolio .gallery .projects .project .project-text .btn-container > .btn:first-child {
  background: #1e1d21;
}

#portfolio .gallery .projects .project .project-img {
  width: 100%;
  height: 100%;
}

#portfolio .gallery .projects .project .project-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact {
  background: white;
}

#contact .title {
  background: #2f6ef5;
  color: white;
}

#contact .section-description {
  top: 0;
  padding: 4rem;
  text-align: center;
}

#contact .section-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .section-inner .img {
  width: 100%;
  height: 100%;
  background: url("../img/bg2.jpg") center center/cover;
  height: calc(100vh - 130px);
}

#contact .section-inner > div {
  height: 100%;
}

#contact .section-inner > div .form-container {
  height: 80%;
  background: transparent;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .section-inner > div .form-container form {
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  margin: auto;
  /* When moving the mouse over the submit button, add a darker green color */
}

#contact .section-inner > div .form-container form .names {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .section-inner > div .form-container form .input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #1e1d21;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: none;
  font-family: inherit;
  color: #1e1d21;
  outline: none;
  background: #e8f0fe;
}

#contact .section-inner > div .form-container form .input:focus {
  -webkit-box-shadow: inset 0 0 5px 3px #2f6ef5;
          box-shadow: inset 0 0 5px 3px #2f6ef5;
  border-radius: 4px;
  border: 0;
}

#contact .section-inner > div .form-container form textarea {
  height: 150px;
  margin-bottom: 20px;
}

#contact .section-inner > div .form-container form input::-webkit-input-placeholder,
#contact .section-inner > div .form-container form textarea::-webkit-input-placeholder {
  opacity: 0.7;
  font-size: 1.5rem;
}

#contact .section-inner > div .form-container form input:-ms-input-placeholder,
#contact .section-inner > div .form-container form textarea:-ms-input-placeholder {
  opacity: 0.7;
  font-size: 1.5rem;
}

#contact .section-inner > div .form-container form input::-ms-input-placeholder,
#contact .section-inner > div .form-container form textarea::-ms-input-placeholder {
  opacity: 0.7;
  font-size: 1.5rem;
}

#contact .section-inner > div .form-container form input::placeholder,
#contact .section-inner > div .form-container form textarea::placeholder {
  opacity: 0.7;
  font-size: 1.5rem;
}

#contact .section-inner > div .form-container form input[type="submit"] {
  background-color: #1e1d21;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  outline: none;
  pointer-events: none;
}

#contact .section-inner > div .form-container form label {
  color: #1e1d21;
  font-weight: 800;
}

#contact .section-inner > div .form-container form input[type="submit"]:hover {
  background-color: #2f6ef5;
}

#contact .section-inner > div .form-container form #error_message {
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  background: #fe8b8e;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

#contact .section-inner > div .form-container form .redShadow {
  -webkit-box-shadow: inset 0 0 5px 3px #fe8b8e;
          box-shadow: inset 0 0 5px 3px #fe8b8e;
  border-radius: 4px;
  border: 0;
}

/* Footer */
footer {
  background: #2f6ef5;
  height: 10vh;
  padding-left: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer span {
  font-weight: 900;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer span:hover {
  color: #1e1d21;
}

footer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logos .fa {
  font-size: 3rem;
  margin-left: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .logos .fa:hover {
  color: #1e1d21;
}

/* Mobile */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .content {
    padding: 0;
  }
  .content .photo {
    height: 450px;
    width: 300px;
    right: 0;
  }
  #portfolio .gallery .projects .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #portfolio .gallery .projects .project .project-text {
    padding: 2rem 5rem;
    text-align: center;
  }
  #portfolio .gallery .projects .project .project-text p {
    width: 80%;
    margin: auto;
    text-align: left;
  }
  #portfolio .gallery .projects .project .project-text .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #portfolio .gallery .projects .project .project-text .btn-container .btn {
    width: 30%;
    margin: 3rem 1rem 0 1rem;
  }
  #portfolio .gallery .projects .project .project-img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #portfolio .landing .projects .project .project-text p {
    text-align: center;
  }
}

@media (max-width: 880px) {
  html {
    font-size: 50%;
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  .showcase {
    padding-left: 5rem;
  }
  .showcase .headers,
  .showcase .showcase-btn {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    left: auto;
  }
  .showcase .showcase-btn {
    top: 120px;
    right: 0;
    width: 100%;
  }
  #about .section-inner .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .section-inner .container .content .photo {
    margin: auto;
    width: 60%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #portfolio .section-title {
    position: relative;
    top: 0;
  }
  #portfolio .gallery {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    top: 0;
  }
  #portfolio .gallery .sm-header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 80px;
    line-height: 80px;
  }
  #portfolio .gallery .projects img {
    height: auto;
    width: 90%;
  }
  #portfolio .gallery .projects .project .project-text p {
    width: 100%;
  }
  #contact .section-inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact .section-inner .img {
    display: none;
  }
  #contact .section-inner > div .form-container form {
    width: 90%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .btn:hover {
    -webkit-transform: initial;
            transform: initial;
    background: #2f6ef5;
  }
  .section {
    padding: 0;
  }
  #scroll-top-btn {
    bottom: 10vh;
  }
  .showcase {
    height: 95vh;
  }
  #about .section-inner .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .section-inner .quote h3 {
    font-size: 2rem;
  }
  #about .section-inner .container > .content {
    grid-gap: 6rem;
  }
  #about .section-inner .container > .content .cards > .card:nth-child(2) .draw {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #about .section-inner .container > .content .cards .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  #about .section-inner .container > .content .cards .card .icon {
    padding: 2rem;
  }
  #about .section-inner .container > .content .cards .card h2 {
    text-align: center;
  }
  #path .section-inner .city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #path .section-inner .city .headings {
    position: relative;
    padding: 30px;
    top: 10px;
  }
  #path .section-inner .city .card {
    right: auto;
    width: auto;
    margin: 20px;
  }
  #portfolio .gallery .projects .project .project-text {
    padding: 1rem;
  }
  #portfolio .gallery .projects .project .project-text h3 {
    margin-bottom: 1rem;
  }
  #portfolio .gallery .projects .project .project-text p {
    width: 90%;
  }
  #portfolio .gallery .projects .project .project-text .btn-container .btn {
    width: 50%;
    margin: 1rem;
  }
  footer {
    margin-bottom: 10vh;
    height: 14vh;
    padding: 1rem 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border: none;
  }
  footer p {
    margin: 0;
    padding: 2px;
  }
  footer .logos .fa {
    margin: 0;
    font-size: 2.5rem;
    margin: 8px;
  }
}

body[data-aos-duration="custom"] [data-aos],
[data-aos][data-aos][data-aos-duration="custom"] {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

body[data-aos-duration="custom"] [data-aos].aos-animate,
[data-aos][data-aos][data-aos-duration="custom"].aos-animate {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

@media (min-width: 700px) {
  body[data-aos-duration="custom"] [data-aos].aos-animate,
  [data-aos][data-aos][data-aos-duration="custom"].aos-animate {
    -webkit-transition-duration: 2.5s;
            transition-duration: 2.5s;
  }
}
